<html>
  <head>
  {% if title %}
      <title>{{title}}</title>
  {% elif not title %}
      <title>Flask-REST</title>
  {% endif %}
  </head>
  <body>
    <table width='100%'>
        <tr>
            <td width='70%'>
                Meny: <a href="{{ url_for('index') }}">Home</a> 
            {% if current_user.is_authenticated and 'admin' in g.roles  %}
                | <a href="{{ url_for('users') }}">Users</a> 
            {% endif %}
            </td>
            <td style='text-align:right;' width='30%'>
            {% if current_user.is_authenticated %}
                User: {{ current_user.nickname }}
                | Roles:  
                {% for role in g.roles %}
                {{role}},&ensp;
                {% endfor %}
                | <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                | <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
            </td>
        <tr>
    </table>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
