{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your Login and Password:<br>
        {{form.login(size=30)}}<br>
        {% for error in form.login.errors %}
            <span style="color: red;"> [{{error}}]</span>
        {% endfor %}<br>
        {{form.password(size=30)}}<br>
        {% for error in form.password.errors %}
            <span style="color: red;"> [{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    {{ form.sign_in() }}
</form>
{% endblock %}
