{% extends "base.html" %}

{% block content %}
 
<div class="container">
<form name="login" class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{form.hidden_tag()}}

        {{form.login(size=30, class="form-control", placeholder="Email address", required="",autofocus="")}}
        {% for error in form.login.errors %}
            <span style="color: red;"> [{{error}}]</span>
        {% endfor %}

        {{form.password(size=30, class="form-control", placeholder="Password", required="")}}
        {% for error in form.password.errors %}
            <span style="color: red;"> [{{error}}]</span>
        {% endfor %}

        <label class="checkbox">
          {{form.remember_me(text='Remember me')}} 
        </label>

        {{ form.sign_in(class="btn btn-lg btn-primary btn-block") }}
      </form>
</div>

{% assets "csssigein" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}

{% endblock %}
