{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<form action="" method="post" name="Register">
    {{form.hidden_tag()}}
    <p>
        <table>
        {% for entry in form if entry.type != 'CSRFTokenField' and entry.type != 'SubmitField' %}
            <tr>
            <td> {{ entry.name }} </td>
            <td> {{ entry }} </td>
            <td> 
            {% for error in entry.errors %}
            <span style="color: red;"> {{ error }} </span><br>
            {% endfor %}
             </td>
            </tr>
        {% endfor %}
        </table>
    </p>
    {{ form.register() }}
</form>

{% endblock %}
